{% extends 'base.html' %}

{% block content %}
  <h2>Oxford Thesaurus</h2>

  <form method="get">
    {{ form.as_p }}
    <button class="btn button-primary" type="submit">search</button>
  </form>


{% if search_result %}
  <hr>
  {% if search_result.success %}
       {% for result in search_result.results %}
      <h3>{{ result.word }}</h3>
          <ul>
             {% for lexicalentry in result.lexicalEntries %}

                {% for entry in lexicalentry.entries %}

                    {% for entry in lexicalentry.entries %}

                         {% for sense in entry.senses %}

                             {% for synonym in sense.synonyms %}

                                 {% for synonym in sense.synonyms %}

                                            <li>{{ synonym.id }}</li>

                                  {% endfor %}

                             {% endfor %}

                        {% endfor %}

                   {% endfor %}

               {% endfor %}
           </ul>
           {% endfor %}

      {% endfor %}

   {% else %}

    <p><em>{{ search_result.message }}</em></p>
  {% endif %}
{% endif %}

{% endblock %}
