{% extends 'base.html' %}
{% block content %}
<h4 class="chuckheading">Among Men some are Good, others Great, but there is only One Chuck Norris</h4>



  <hr>

<div class="chuckpic">
    <img width="125"
             height="125"
             frameborder="10"
             style="border:0"
             src="https://assets.chucknorris.host/img/avatar/chuck-norris.png"</img>
             <a  href="{% url 'chuck' %}" class="chuckbutton btn btn-info" role="button">Get Another Chuckism</a>
</div>
    <ul>
        <li class="chucksays">"{{ value }}"</li>
    </ul>


    {% endblock %}
