{% extends 'base.html' %}

{% block content %}
  <h2>GEO API</h2>
  <p>Your IP address is <strong>{{ location_data.ip }}</strong> which suggests that you are in <strong>{{ location_data.city }}, {{ location_data.region_name }}.</strong></p>

  <iframe width="250"
           height="250"
           frameborder="0"
           style="border:0"
           src="https://maps.googleapis.com/maps/api/staticmap?center={{ location_data.city }},{{ location_data.region_name }}&zoom=8&size=250x250&key={{location_data.api_key}}"
           allowfullscreen></iframe>



{% endblock %}
