{% extends 'base.html' %}

{% block content %}
  <h2>Oxford Dictionary</h2>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">search</button>
  </form>

  {% if search_result %}
    <hr>
    {% if search_result.success %}
      {% for results in search_result %}
        <h3>{{ value }}</h3>
        {% for antonyms in search_result.result %}
          <h4>{{ print (key)}>
          <ul>

              {% for id in antonyms %}

                  <li>{{ r.text }}</li>
                {% endfor %}

          </ul>
        {% endfor %}
  {% endfor %}
    {% else %}
      <p><em>{{ search_result.message }}</em></p>
    {% endif %}
  {% endif %}

{% endblock %}
