{% extends 'base.html' %}

{% block content %}
<h4>Mister Know It All Trivia</h4>

<div class="container">
    <div class="row"></div>
    <div class="row category">
        <div class="col-sm-offset-2 col-sm-7">
          <a href="{% url 'trivia' %}" class="btn btn-info" role="button">New Question</a>
             <br>
            <h3>Category:   {{trivia_data.category}}</h3>
        </div>
    </div>
    <div class="row question">
        <div class="col-sm-offset-2 col-sm-7">
          <h4>Question: True or False?</h4>
          <h4>{{trivia_data.question}}</h4>
        </div>
    </div>
    <div class="row answer">
        <div class="col-sm-offset-2 col-sm-7">
          <div id="extraControls" style="display: none;">{{trivia_data.correct_answer}}</div><br>
          <button type="submit" class="btn btn-info">Reveal Answer</button>
        </div>
    </div>
</div>


<script>
$(document).ready(function() {
    $("div#extraControls").removeClass("hidden");
});
</script>
<script>
$( "button" ).click(function() {
  $( "div" ).show(".answer");
});
</script>


{% endblock content %}
