<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "/home.css" %}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



    <title>Django API Examples</title>
    <style type="text/css">
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>

    <header>
      <h1 style="margin-bottom: 0">Django RESTful API Examples</h1><br>
      <a href="{% url 'home' %}">Location Detector</a> /
      <a href="{% url 'github' %}">Search for GitHub Users</a> /
      <a href="{% url 'oxford' %}">Look Up a Definition</a> /
    </header>
  <br>  <hr>
    {% block content %}





    {% endblock %}




    <hr>

  </body>
</html>
