<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>RESTful APIs Example</title>
    <style type="text/css">
      body {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>

    <header>
      <h1 style="margin-bottom: 0">RESTful APIs</h1>
      <a href="{% url 'home' %}">Location Detector</a> /
      <a href="{% url 'github' %}">Search for GitHub Users</a> /
    </header>
    <hr>
    {% block content %}





    {% endblock %}
    {% block content1 %}homehome





    {% endblock %}




    <hr>

  </body>
</html>
